<section class="container">
  <form class="formulario" (ngSubmit)="transferir()" >
    <h2 class="titulo">Nova Transferencia</h2>
  
    <div class="form-field">
      <label class="label" for="valor">Valor</label>
      <input class="input" type="number" id="valor" name="valor" [(ngModel)]="valor">
    </div>
  
    <div class="form-field">
      <label class="label" for="destino">Destino</label>
      <input class="input" type="number" id="destino" name="destino" [(ngModel)]="destino">
    </div>
  
    <div class="botao-wrapper">
      <button class="botao" type="submit">Transferir</button>
    </div>
  </form>
</section>


<app-lista-transferencias #ListaTransferencia></app-lista-transferencias>